// 颜色定义规范
$color-background = #b6d5db
$color-background-d = #a7c6cf4d
$color-highlight-background = #a7c6cf
$color-dialog-background = #666
$color-theme = #436482
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #686968
$color-text-d = #6f7374
$color-text-l = #6f7374
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px